
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 900px;
    height: 500px;
    border: 1px solid lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
    border-radius: 10px;
}
/**** start img ***/
.container .img-left {
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
}
.container .img-left img {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
}
/** start register */
.container .register {
    width: 50%;
    height: 500px;
    float: right;
    background-color: #eaf9f8f0;
}
.container .register .register-content {
    text-align: center;
    padding: 30px;
    margin-top: 39px;
}
.container .register .register-content  .title p{
    margin-top: 10px ;
}
.container .register .register-content  form {
    margin: 45px 0px;
}
.container .register .register-content  form input {
    width: 376px;
    padding: 7px 5px;
    margin: 5px 0px;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: transparent;
}
.container .register .register-content  form input[type="submit"]{
    width: 390px;
    background-color: rgb(4, 161, 75);
    color: #fff;
    border: none;
}
